# Ignore all CSV and GeoJSON in resources/
tethysapp-hello_world/tethysapp/hello_world/resources/*.csv
tethysapp-hello_world/tethysapp/hello_world/resources/*.geojson

tethysapp-hello_world/tethysapp/hello_world/resources/*
!tethysapp-hello_world/tethysapp/hello_world/resources/.gitkeep

# Virtual environments and env variables
*.env
*.venv

*.pydevproject
*.project
*.egg-infocl
*.class
*.pyo
*.pyc
*.db
*.sqlite
*.DS_Store
.idea/
services.yml