{% extends "hello_world/base.html" %}

{% block app_content %}
<div style="margin-bottom: 20px;">
    <label for="year-selector">Select Year:</label>
    <select id="year-selector">
        <option value="2017">2017</option>
        <option value="2018">2018</option>
        <option value="2019">2019</option>
    </select>
    <button id="load-map">Go</button>
</div>

<div id="map" style="width: 100%; height: 400px; margin-bottom: 20px;"></div>

<canvas id="myChart" width="400" height="200"></canvas>
{% endblock %}