{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{{ tethys_app.name }}{% endblock %}</title>
    {% block app_css %}
    <link rel="stylesheet" href="{% static 'hello_world/css/main.css' %}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    {% endblock %}
</head>
<body>
    <header>
        <h1>{{ tethys_app.name }}</h1>
    </header>

    {% block app_content %}{% endblock %}

    {% block scripts %}
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{% static 'hello_world/js/main.js' %}"></script>
    {% endblock %}
</body>
</html>