{% extends "hello_world/base.html" %}
{% load static tethys %}

{% block app_content %}
<div class="container my-4">
    <h1>Simple Map and Plot Example</h1>

    <!-- Map -->
    <div id="map" style="width: 100%; height: 400px; margin-bottom: 40px;"></div>

    <!-- Plot -->
    <canvas id="myChart" width="400" height="200"></canvas>
</div>
{% endblock %}

{% block scripts %}
{{ block.super }}
<!-- Leaflet -->
<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<!-- Chart.js -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<!-- Your JS -->
<script src="{% static 'hello_world/js/main.js' %}"></script>
{% endblock %}